<div class="row no-gutters">
  <div class="col mt-2 mb-4">

    <div class="mt-2 offset-2 col-8 text-center" style="color: #4d4d4d!important;">
      <span class="mat-headline">Events</span>
    </div>
    <mat-divider class="mt-2 red" style="background-color: #4d4d4d"></mat-divider>

    <!-- SEARCH BAR HERE -->

    <div fxLayout="row" fxLayoutGap="10px" class="mt-3">

      <mat-card class="mx-2 d-flex flex-column" *ngFor="let event of events$ | async" fxFlex="25"
                (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">
        <mat-card-header>
          <mat-card-title>{{event.title | uppercase}}</mat-card-title>
          <mat-card-subtitle>
            {{event.venue}}<br/>
            {{event.date_start | date: 'medium'}}<br/>
            Price: {{event.price | currency:'AUD'}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mat-card-content mat-typography pl-2">
        <span class="mat-body-strong">
          {{event.description | slice:0:120}}
        </span>
        </mat-card-content>
        <mat-card-actions class="mt-auto">
          <button mat-button class="mat-button" color="primary" (click)="openDialog(event)">BOOK</button>
          <button mat-button class="mat-button" color="primary">SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>


  </div>
</div>
