asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
conda==4.4.10
cryptography==2.1.4
Django==2.0.2
django-cors-headers==2.2.0
djangorestframework==3.8.2
idna==2.6
menuinst==1.4.11
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.7
pytz==2018.3
pywin32==222
requests==2.18.4
ruamel-yaml==0.15.35
six==1.11.0
urllib3==1.22
win-inet-pton==1.0.1
wincertstore==0.2
