<h2 mat-dialog-title class="red-text text-lighten-1">Register</h2>

<form class="w-100 p-0 m-0" [formGroup]="registerFormGroup">
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <input type="text" matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <input type="email" matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <input type="text" matInput placeholder="First Name" formControlName="first_name">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <input type="text" matInput placeholder="Last Name" formControlName="last_name">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <input type="password" matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <input type="password" matInput placeholder="Confirm Password" id="password2"
               formControlName="password2" required>
        <mat-error *ngIf="registerFormGroup.controls['password2'].errors">
          Passwords Do Not Match
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="mt-2">
    <button type="submit" mat-raised-button color="primary" class="mr-1" (click)="registerUser()"
            [disabled]="!registerFormGroup.valid" [mat-dialog-close]="true">Register</button>
    <button type="button" mat-raised-button color="primary" [mat-dialog-close]="true">
      Cancel
    </button>
  </div>
</form>
