/**
 * Applies styles for users in high contrast mode. Note that this only applies
 * to Microsoft browsers. Chrome can be included by checking for the `html[hc]`
 * attribute, however Chrome handles high contrast differently.
 */
/* Theme for the ripple elements.*/
/* stylelint-disable material/no-prefixes */
/* stylelint-enable */
.mat-h1, .mat-headline, .mat-typography h1 {
  font: 700 32px/48px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 16px; }

.mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 16px; }

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font: 400 16px/28px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 16px; }

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font: 400 15px/24px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 16px; }

.mat-h5, .mat-typography h5 {
  font: 500 13.28px/24px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 12px; }

.mat-h6, .mat-typography h6 {
  font: 500 10.72px/24px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 12px; }

.mat-body-strong, .mat-body-2 {
  font: 500 14px/24px Quicksand, Raleway, Roboto, monospace; }

.mat-body, .mat-body-1, .mat-typography {
  font: 500 16px/24px Quicksand, Raleway, Roboto, monospace; }
  .mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0 0 12px; }

.mat-small, .mat-caption {
  font: 400 12px/20px Quicksand, Raleway, Roboto, monospace; }

.mat-display-4, .mat-typography .mat-display-4 {
  font: 300 112px/112px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 56px;
  letter-spacing: -0.05em; }

.mat-display-3, .mat-typography .mat-display-3 {
  font: 400 56px/56px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 64px;
  letter-spacing: -0.02em; }

.mat-display-2, .mat-typography .mat-display-2 {
  font: 400 45px/48px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 64px;
  letter-spacing: -0.005em; }

.mat-display-1, .mat-typography .mat-display-1 {
  font: 400 34px/40px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 64px; }

.mat-checkbox {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px; }

.mat-h1, .mat-headline, .mat-typography h1 {
  font: 700 32px/48px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 16px; }

.mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 16px; }

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font: 400 16px/28px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 16px; }

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font: 400 15px/24px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 16px; }

.mat-h5, .mat-typography h5 {
  font: 500 13.28px/24px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 12px; }

.mat-h6, .mat-typography h6 {
  font: 500 10.72px/24px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 12px; }

.mat-body-strong, .mat-body-2 {
  font: 500 14px/24px Quicksand, Raleway, Roboto, monospace; }

.mat-body, .mat-body-1, .mat-typography {
  font: 500 16px/24px Quicksand, Raleway, Roboto, monospace; }
  .mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0 0 12px; }

.mat-small, .mat-caption {
  font: 400 12px/20px Quicksand, Raleway, Roboto, monospace; }

.mat-display-4, .mat-typography .mat-display-4 {
  font: 300 112px/112px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 56px;
  letter-spacing: -0.05em; }

.mat-display-3, .mat-typography .mat-display-3 {
  font: 400 56px/56px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 64px;
  letter-spacing: -0.02em; }

.mat-display-2, .mat-typography .mat-display-2 {
  font: 400 45px/48px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 64px;
  letter-spacing: -0.005em; }

.mat-display-1, .mat-typography .mat-display-1 {
  font: 400 34px/40px Quicksand, Raleway, Roboto, monospace;
  margin: 0 0 64px; }

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button,
.mat-fab, .mat-mini-fab {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 14px;
  font-weight: 500; }

.mat-button-toggle {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-card {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-card-title {
  font-size: 32px;
  font-weight: 700; }

.mat-card-subtitle,
.mat-card-content,
.mat-card-header .mat-card-title {
  font-size: 16px; }

.mat-checkbox {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px; }

.mat-chip {
  font-size: 13px;
  line-height: 18px; }
  .mat-chip .mat-chip-remove.mat-icon {
    font-size: 18px; }

.mat-table {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-header-cell {
  font-size: 12px;
  font-weight: 500; }

.mat-cell {
  font-size: 16px; }

.mat-calendar {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-calendar-body {
  font-size: 13px; }

.mat-calendar-body-label,
.mat-calendar-period-button {
  font-size: 14px;
  font-weight: 500; }

.mat-calendar-table-header th {
  font-size: 11px;
  font-weight: 500; }

.mat-dialog-title {
  font: 500 20px/32px Quicksand, Raleway, Roboto, monospace; }

.mat-expansion-panel-header {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 15px;
  font-weight: 400; }

.mat-expansion-panel-content {
  font: 500 16px/24px Quicksand, Raleway, Roboto, monospace; }

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-form-field-wrapper {
  padding-bottom: 1.25em; }

.mat-form-field-prefix .mat-icon,
.mat-form-field-suffix .mat-icon {
  font-size: 150%;
  line-height: 1.125; }

.mat-form-field-prefix .mat-icon-button,
.mat-form-field-suffix .mat-icon-button {
  height: 1.5em;
  width: 1.5em; }
  .mat-form-field-prefix .mat-icon-button .mat-icon,
  .mat-form-field-suffix .mat-icon-button .mat-icon {
    height: 1.125em;
    line-height: 1.125; }

.mat-form-field-infix {
  padding: 0.4375em 0;
  border-top: 0.84375em solid transparent; }

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
  -ms-transform: translateY(-1.28125em) scale(0.75);
  width: 133.33333%; }

.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.00101px);
  -ms-transform: translateY(-1.28124em) scale(0.75);
  width: 133.33334%; }

.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.00102px);
  -ms-transform: translateY(-1.28123em) scale(0.75);
  width: 133.33335%; }

.mat-form-field-label-wrapper {
  top: -0.84375em;
  padding-top: 0.84375em; }

.mat-form-field-label {
  top: 1.28125em; }

.mat-form-field-underline {
  bottom: 1.25em; }

.mat-form-field-subscript-wrapper {
  font-size: 75%;
  margin-top: 0.54167em;
  top: calc(100% - 1.66667em); }

.mat-grid-tile-header,
.mat-grid-tile-footer {
  font-size: 16px; }
  .mat-grid-tile-header .mat-line,
  .mat-grid-tile-footer .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-grid-tile-header .mat-line:nth-child(n+2),
    .mat-grid-tile-footer .mat-line:nth-child(n+2) {
      font-size: 12px; }

input.mat-input-element {
  margin-top: -0.0625em; }

.mat-menu-item {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 16px;
  font-weight: 400; }

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 12px; }

.mat-radio-button {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-select {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-select-trigger {
  height: 1.125em; }

.mat-slide-toggle-content {
  font: 500 16px/24px Quicksand, Raleway, Roboto, monospace; }

.mat-slider-thumb-label-text {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 12px;
  font-weight: 500; }

.mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-step-label {
  font-size: 16px;
  font-weight: 500; }

.mat-step-label-selected {
  font-size: 14px;
  font-weight: 500; }

.mat-tab-group {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-tab-label, .mat-tab-link {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 14px;
  font-weight: 500; }

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 500 20px/32px Quicksand, Raleway, Roboto, monospace;
  margin: 0; }

.mat-tooltip {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px; }

.mat-tooltip-handset {
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 9px; }

.mat-list-item {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-list-option {
  font-family: Quicksand, Raleway, Roboto, monospace; }

.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
  font-size: 16px; }
  .mat-list .mat-list-item .mat-line, .mat-nav-list .mat-list-item .mat-line, .mat-selection-list .mat-list-item .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-list .mat-list-item .mat-line:nth-child(n+2), .mat-nav-list .mat-list-item .mat-line:nth-child(n+2), .mat-selection-list .mat-list-item .mat-line:nth-child(n+2) {
      font-size: 16px; }

.mat-list .mat-list-option, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-option {
  font-size: 16px; }
  .mat-list .mat-list-option .mat-line, .mat-nav-list .mat-list-option .mat-line, .mat-selection-list .mat-list-option .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-list .mat-list-option .mat-line:nth-child(n+2), .mat-nav-list .mat-list-option .mat-line:nth-child(n+2), .mat-selection-list .mat-list-option .mat-line:nth-child(n+2) {
      font-size: 16px; }

.mat-list .mat-subheader, .mat-nav-list .mat-subheader, .mat-selection-list .mat-subheader {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 14px;
  font-weight: 500; }

.mat-list[dense] .mat-list-item, .mat-nav-list[dense] .mat-list-item, .mat-selection-list[dense] .mat-list-item {
  font-size: 12px; }
  .mat-list[dense] .mat-list-item .mat-line, .mat-nav-list[dense] .mat-list-item .mat-line, .mat-selection-list[dense] .mat-list-item .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-list[dense] .mat-list-item .mat-line:nth-child(n+2), .mat-nav-list[dense] .mat-list-item .mat-line:nth-child(n+2), .mat-selection-list[dense] .mat-list-item .mat-line:nth-child(n+2) {
      font-size: 12px; }

.mat-list[dense] .mat-list-option, .mat-nav-list[dense] .mat-list-option, .mat-selection-list[dense] .mat-list-option {
  font-size: 12px; }
  .mat-list[dense] .mat-list-option .mat-line, .mat-nav-list[dense] .mat-list-option .mat-line, .mat-selection-list[dense] .mat-list-option .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-list[dense] .mat-list-option .mat-line:nth-child(n+2), .mat-nav-list[dense] .mat-list-option .mat-line:nth-child(n+2), .mat-selection-list[dense] .mat-list-option .mat-line:nth-child(n+2) {
      font-size: 12px; }

.mat-list[dense] .mat-subheader, .mat-nav-list[dense] .mat-subheader, .mat-selection-list[dense] .mat-subheader {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 12px;
  font-weight: 500; }

.mat-option {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 16px; }

.mat-optgroup-label {
  font: 500 14px/24px Quicksand, Raleway, Roboto, monospace; }

.mat-simple-snackbar {
  font-family: Quicksand, Raleway, Roboto, monospace;
  font-size: 16px; }

.mat-simple-snackbar-action {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500; }
