<app-admin-navbar (navToggle)="sidenav.toggle()"></app-admin-navbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav
               class="sidenav white red-text pt-2"
               mode="side"
               [fixedInViewport]="true"
               [fixedTopGap]="0"
               [fixedBottomGap]="0">

    <app-events-tab></app-events-tab>

  </mat-sidenav>

  <mat-sidenav #bookingsSidenav class="w-auto pt-2" mode="side" [opened]="openBookingsTab"
               position="end" [fixedTopGap]="60" [fixedBottomGap]="0">

    <app-bookings-tab></app-bookings-tab>

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>
    <!--<router-outlet name="event-detail"></router-outlet>-->
    <!--<router-outlet name="event-new"></router-outlet>-->
    <app-mat-fab (bookingsToggle)="bookingsSidenav.close()" *ngIf="_displayService.matFabDisplay"></app-mat-fab>

  </mat-sidenav-content>

</mat-sidenav-container>
