<div class="row no-gutters">
  <div class="col mt-2 mb-4">

    <div class="mt-2 offset-2 col-8 text-center" style="color: #4d4d4d!important;">
      <span class="mat-headline">User Profile</span>
    </div>
    <mat-divider class="mt-2 red" style="background-color: #4d4d4d"></mat-divider>

    <div class="row no-gutters">
      <div class="col-lg-7 offset-lg-1 col-md-9 offset-md-1 mt-4">
        <mat-card>
          <form class="w-100 p-0 m-0" [formGroup]="userFormGroup">
            <div class="row mt-2 p-0">
              <div class="col">
                <h3 class="mat-subheading-2 my-1 font-weight-bold">Details</h3>
              </div>
            </div>

            <div class="row mt-1 p-0">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input type="text" matInput [readonly]="!editable" name="username"
                         formControlName="username" required>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [readonly]="!editable" name="email"
                         formControlName="email" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row mt-1 p-0">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input type="text" matInput [readonly]="!editable" name="first_name"
                         formControlName="first_name" required>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input type="text" matInput [readonly]="!editable" name="last_name"
                         formControlName="last_name" required>
                </mat-form-field>
              </div>
            </div>

            <!-- PASSWORD -->
            <!--<form [hidden]="!editable" [formGroup]="passwordFormGroup">-->

              <!--<div class="row mt-2 p-0" [hidden]="!editable">-->
                <!--<div class="col">-->
                  <!--<h3 class="mat-subheading-2 my-1 font-weight-bold">Change Password</h3>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="row mt-2 p-0" [hidden]="!editable">-->
                <!--<div class="col">-->
                  <!--<mat-form-field class="w-100" appearance="fill">-->
                    <!--<mat-label>Old Password</mat-label>-->
                    <!--<input type="password" matInput [readonly]="!editable" name="old_password"-->
                           <!--formControlName="old_password">-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="row mt-1 p-0" [hidden]="!editable">-->
                <!--<div class="col-lg-6 col-md-6 col-sm-12">-->
                  <!--<mat-form-field class="w-100" appearance="fill">-->
                    <!--<mat-label>New Password</mat-label>-->
                    <!--<input type="password" matInput [readonly]="!editable" name="new_password"-->
                           <!--formControlName="new_password">-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <!--<div class="col-lg-6 col-md-6 col-sm-12">-->
                  <!--<mat-form-field class="w-100" appearance="fill">-->
                    <!--<mat-label>Confirm New Password</mat-label>-->
                    <!--<input type="password" matInput [readonly]="!editable"-->
                           <!--name="new_password2" formControlName="new_password2">-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</div>-->
            <!--</form>-->

            <!-- BUTTONS -->
            <div class="row mt-4 justify-content-start">
              <div class="col">
                <button type="submit" *ngIf="editable; else editBlock" mat-raised-button class="mat-button mr-1"
                        (click)="update_user(); toggleEdit()" color="primary">
                  <mat-icon>save</mat-icon>&nbsp;Save
                </button>
                <ng-template #editBlock>
                  <button mat-raised-button class="mat-raised-button mr-1" color="primary" (click)="toggleEdit()">
                    <mat-icon>edit</mat-icon>&nbsp;Edit
                  </button>
                </ng-template>
                <button mat-raised-button class="mat-raised-button mx-1" color="primary" *ngIf="editable" (click)="toggleEdit()">
                  <mat-icon>cancel</mat-icon>&nbsp;Cancel
                </button>
              </div>
            </div>

          </form>
        </mat-card>
      </div>

      <div class="mt-4 ml-2 col-lg-3 col-md-2">
        <mat-card>
          <div class="row mt-2 p-0">
            <div class="col">
              <h3 class="mat-subheading-2 my-1 font-weight-bold">Account Activities</h3>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

  </div>
</div>
