<div class="row no-gutters">
  <div class="col mt-2 mb-4">

    <div class="mt-2 offset-2 col-8 text-center" style="color: #4d4d4d!important;">
      <span class="mat-headline">Bookings</span>
    </div>
    <mat-divider class="mt-2 red" style="background-color: #4d4d4d"></mat-divider>

    <div fxLayout="col" fxLayoutGap="10px" fxLayoutAlign="space-evenly center" class="flex-wrap m-4">
      <mat-card class="mt-3" *ngFor="let booking of bookings$ | async"
                fxFlex="50" (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">
        <mat-card-header class="mat-card-header">
          <mat-card-title>
            {{booking.event.title | uppercase}} | {{booking.date_created | date: 'short'}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-content mat-typography pl-2">
          Venue: {{booking.event.venue}}<br/>
          Date: {{booking.event.date_start | date: 'short'}} till
          {{booking.event.date_end | date: 'short'}}<br/>
          Payment: {{booking.payment | currency: 'AUD'}}
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="primary" (click)="openDialog(booking)">
            EDIT
          </button>
          <button mat-button color="primary" (click)="cancelBooking(booking.booking_id)">
            DELETE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
