<div class="row p-0">
  <div class="mt-3 col-sm-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6">
    <div class="mt-5 offset-3 col-6 text-center" style="color: #4d4d4d!important;">
      <span class="mat-headline">Event Details</span>
    </div>
    <mat-divider class="mt-2 mb-3 red" style="background-color: #4d4d4d"></mat-divider>

    <form class="p-0 m-0">
      <div class="row p-0">
        <mat-form-field class="col w-100">
          <input type="text" matInput class="" placeholder="Event Title" required>
        </mat-form-field>
      </div>

      <div class="row mt-2 p-0">
        <mat-form-field class="col w-100">
          <input type="text" matInput class="" placeholder="Location" required>
        </mat-form-field>
      </div>

      <div class="row mt-2 p-0">
        <div class="col-lg-6 col-md-8 col-sm-12 mat-typography">
          <h3 class="mat-subheading-2 mb-3 font-weight-bold">Start</h3>
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="dateStartPicker" class="" placeholder="Date" required>
            <mat-datepicker-toggle matSuffix [for]="dateStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateStartPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-select class="" placeholder="Time" [required]="true">
              <mat-option *ngFor="let time of timeOpt" [value]="time.value">
                {{time.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 mat-typography px-1">
          <h3 class="mat-subheading-2 mb-3 font-weight-bold">End</h3>
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="dateEndPicker" class="" placeholder="Date" required>
            <mat-datepicker-toggle matSuffix [for]="dateEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateEndPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-select class="" placeholder="Time" [required]="true">
              <mat-option *ngFor="let time of timeOpt" [value]="time.value">
                {{time.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-3 p-0">
        <div class="col">
          <mat-form-field class="w-50">
            <input type="number" matInput class="w-50" placeholder="Max Capacity" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-50">
            <input type="number" matInput class="w-50" placeholder="Expected Capacity" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-2 p-0">
        <div class="col">
          <mat-form-field class="w-100 mt-2">
            <textarea matInput class="w-100" placeholder="Description" matTextareaAutosize
                  matAutosizeMinRows="4" matAutosizeMaxRows="10"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="mt-4 offset-3 col-6 text-center">
        <span class="mat-headline" style="color: #4d4d4d!important;">Ticket Details</span>
      </div>
      <mat-divider class="mt-2 mb-3 red" style="background-color: #4d4d4d"></mat-divider>

      <div class="row mt-3 p-0">
        <div class="col">
          <h3 class="mat-subheading-2 mb-3 font-weight-bold">Create Optional Ticket(s) Types below</h3>
        </div>
      </div>

      <div class="row mt-2 p-0">
        <div class="col-sm-12 col-md-4 pr-1">
          <mat-form-field hintLabel="Ticket type name" class="w-100">
            <input type="text" matInput class="" placeholder="Description">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2 px-1">
          <mat-form-field class="w-100">
            <input type="number" matInput class="" placeholder="Quantity">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-2 px-1">
          <mat-form-field class="w-100">
            <input type="number" matInput class="" placeholder="Price">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3 px-1">
          <mat-form-field hintLabel="Optional promotional code discount" class="w-100">
            <input type="text" matInput class="" placeholder="Promotional Code">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-1 pl-2">
          <button mat-mini-fab="" class="mat-mini-fab red white-text">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div class="mt-4 offset-3 col-6 text-center px-1" [hidden]="true">
        <span class="mat-headline">Launch the Event</span>
      </div>
      <!--<mat-divider class="mt-2 mb-3 px-0 w-100" style="background-color: #4d4d4d"></mat-divider>-->

      <div class="row mt-3 p-0" [hidden]="true">
        <div class="col">
          <h4 class="mat-subheading-2 mb-3 font-weight-bold">
            Are you ready for takeoff? Tick/untick to launch the event so users can see your event and making bookings.
          </h4>
        </div>
      </div>

      <div class="row mb-2 p-0" [hidden]="true">
        <div class="col mt-4 mb-4">
          <mat-checkbox class="mt-3" color="primary" labelPosition="before" [checked]="false" value="is_launched">
            <i class="fal fa-rocket fa-1x disabled"></i>&nbsp;Launch Event
          </mat-checkbox>
        </div>
      </div>

      <mat-divider class="mt-5 red"></mat-divider>

      <div class="row mt-5 justify-content-start">
        <div class="col">
          <button type="submit" mat-raised-button class="mat-button mr-1" color="primary">
            <mat-icon>save</mat-icon>&nbsp;Save
          </button>
        <!--</div>-->

        <!--<div class="col mx-auto">-->
          <button type="submit" mat-raised-button class="mat-button mx-1" color="primary">
            <i class="far fa-rocket"></i>&nbsp;Save & Launch
          </button>
        <!--</div>-->

        <!--<div class="col mx-auto">-->
          <button mat-raised-button class="mat-button ml-1" color="primary">
            <mat-icon>cancel</mat-icon>&nbsp;Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
