<app-ndev-navbar (navToggle)="sidenav.toggle()"></app-ndev-navbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="white red-text pt-2" mode="side" [opened]="showEventsTab"
               [fixedTopGap]="60" [fixedBottomGap]="0">

    <app-events-tab></app-events-tab>

  </mat-sidenav>

  <mat-sidenav-content>
    <!--<app-event></app-event>-->
    <router-outlet></router-outlet>
    <app-mat-fab *ngIf="showFab"></app-mat-fab>
  </mat-sidenav-content>

</mat-sidenav-container>
