<div class="offset-1 col-10 mt-4" *ngIf="event">
  <mat-form-field class="w-100">
    <input type="text" matInput class="d-flex flex-column w-100"
           placeholder="Event Title" value="{{event.title}}" [readonly]="true">
  </mat-form-field>
  <mat-form-field class="w-100 mt-2">
    <input type="text" matInput class="d-flex flex-column w-100"
           placeholder="Location" value="{{event.venue}}" [readonly]="true">
  </mat-form-field>

  <table class="w-100" cellspacing="0">
    <tr>
      <td colspan="2">Start</td>
      <td colspan="2">End</td>
    </tr>
    <tr>
      <td colspan="" width="75%"><mat-form-field class="w-100">
        <input matInput [matDatepicker]="dateStartPicker" class="w-100" placeholder="Date" disabled
               [readonly]="true" [disabled]="false" value="{{date_start}}">
        <mat-datepicker-toggle matSuffix [for]="dateStartPicker" disabled></mat-datepicker-toggle>
        <mat-datepicker #dateStartPicker></mat-datepicker>
      </mat-form-field></td>
      <td colspan="" width="25%"><mat-form-field class="w-50">
        <input matInput class="w-100" placeholder="Time" [readonly]="true" value="{{time_start}}">
      </mat-form-field></td>
      <td colspan=""><mat-form-field class="w-100">
        <input matInput [matDatepicker]="dateEndPicker" class="w-100" placeholder="Date"
               [readonly]="true" [disabled]="false" value="{{date_end}}">
        <mat-datepicker-toggle matSuffix [for]="dateEndPicker" disabled></mat-datepicker-toggle>
        <mat-datepicker #dateEndPicker></mat-datepicker>
      </mat-form-field></td>
      <td colspan=""><mat-form-field class="w-50">
        <input matInput class="w-100" placeholder="Time" [readonly]="true" value="{{time_end}}">
      </mat-form-field></td>
    </tr>
  </table>

  <table class="w-100" cellspacing="0">
    <tr>
      <td colspan="2"><mat-form-field class="w-75 mt-2">
        <input type="number" matInput class="d-flex flex-column w-100"
               placeholder="Max Capacity" value="{{event.capacity_max}}" [readonly]="true">
      </mat-form-field></td>
      <td colspan="2"><mat-form-field class="w-75 mt-2">
        <input type="number" matInput class="d-flex flex-column w-100"
               placeholder="Expected Capacity" value="{{event.capacity_expected}}" [readonly]="true">
      </mat-form-field></td>
    </tr>
  </table>

  <mat-form-field class="w-100 mt-2">
    <textarea matInput class="d-flex flex-column w-100" placeholder="Description" matTextareaAutosize
              matAutosizeMinRows="4" matAutosizeMaxRows="10" value="{{event.description}}" [readonly]="true"></textarea>
  </mat-form-field>

  <table class="w-100 my-3" cellspacing="0">
    <tr>
      <td>Tickets</td>
    </tr>
  </table>

  <div class="mt-4 mb-4" *ngIf="event.is_launched; else notLaunched">
    <!--<mat-slide-toggle labelPosition="before" [checked]="true" color="primary">-->
      <!--<i class="fal fa-rocket fa-1x"></i>&nbsp;Launched-->
    <!--</mat-slide-toggle>-->
    <mat-checkbox class="mt-3" color="primary" labelPosition="before" [checked]="true" disabled>
      <i class="fal fa-rocket fa-1x disabled"></i>&nbsp;Event Launched
    </mat-checkbox>
  </div>
  <ng-template #notLaunched>
    <!--<mat-slide-toggle class="notLaunched" labelPosition="before" [checked]="false" color="primary">-->
      <!--<i class="fal fa-rocket fa-1x"></i>&nbsp;Launch Event-->
    <!--</mat-slide-toggle>-->
    <mat-checkbox class="mt-3" color="primary" labelPosition="before" [checked]="false" disabled>
      <i class="fal fa-rocket fa-1x disabled"></i>&nbsp;Event Launched
    </mat-checkbox>
  </ng-template>

  <mat-divider class="mt-3 red"></mat-divider>
  <div class="mt-5">
    <button mat-raised-button class="mat-button" color="primary"><mat-icon>edit</mat-icon>&nbsp;Edit</button>
    <div class="d-inline" *ngIf="event.is_launched; else allowLaunch">
      <button mat-raised-button class="mat-button" color="primary" disabled><i class="far fa-rocket"></i>&nbsp;Launch</button>
    </div>
    <ng-template #allowLaunch>
      <button mat-raised-button class="mat-button" color="primary"><i class="far fa-rocket"></i>&nbsp;Launch</button>
    </ng-template>
    <button mat-raised-button class="mat-button" color="primary"><mat-icon>delete</mat-icon>&nbsp;Delete</button>
  </div>
</div>

<router-outlet></router-outlet>
